<div class="row3col">
    <div id="quotedesc">
        <p>Timp de pariere rămas: <span>{{secToDraw}}</span></p>
    </div>
    <div id="event">
        <p>Numaru evenimentului: {{roundNr}}</p>
    </div>
</div>
<div class="first7">
    <img id="i01" class="st7" src="./assets/images/01.png" [@fromLeftAnim]="imageStat[0]">
    <img id="i02" class="st7" src="./assets/images/02.png" [@fromLeftAnim]="imageStat[1]">
    <img id="i03" class="st7" src="./assets/images/03.png" [@fromLeftAnim]="imageStat[2]">
    <img id="i04" class="st7" src="./assets/images/04.png" [@fromLeftAnim]="imageStat[3]">
    <img id="i05" class="st7" src="./assets/images/05.png" [@fromLeftAnim]="imageStat[4]">
    <img id="i06" class="st7" src="./assets/images/06.png" [@fromLeftAnim]="imageStat[5]">
    <img id="i07" class="st7" src="./assets/images/07.png" [@fromLeftAnim]="imageStat[6]">
</div>
<div class="messages" *ngIf="firstMessages" @firstMessages>
    <div class="middleColumn" id="firstMessageRow1">{{messages[0]}}</div>
    <div class="middleColumn" id="firstMessageRow2">{{messages[1]}}</div>
    <div class="middleColumn" id="firstMessageRow3">{{messages[2]}}</div>
    <div class="middleColumn" id="firstMessageRow4">{{messages[3]}}</div>
    <div class="middleColumn" id="firstMessageRow5">{{messages[4]}}</div>
</div>
<div class="messages" *ngIf="secondMessages">
    <div class="middleColumn" id="secondMessageRow1">{{messages[5]}}</div>
    <div class="middleColumn" id="secondMessageRow2">{{messages[6]}}</div>
    <div class="middleColumn" id="secondMessageRow3">{{messages[7]}}</div>
    <div class="middleColumn" id="secondMessageRow4">{{messages[8]}}</div>
</div>
<div *ngIf='images'>
    <img id="i08" class="nd7" src="./assets/images/08.png">
    <img id="i09" class="nd7" src="./assets/images/09.png">
    <img id="i10" class="nd7" src="./assets/images/10.png">
    <img id="i11" class="nd7" src="./assets/images/11.png">
    <img id="i12" class="nd7" src="./assets/images/12.png">
    <img id="i13" class="nd7" src="./assets/images/13.png">
    <img id="i14" class="nd7" src="./assets/images/14.png">
    <img id="i15" class="td7" src="./assets/images/15.png">
    <img id="i16" class="td7" src="./assets/images/16.png">
    <img id="i17" class="td7" src="./assets/images/17.png">
    <img id="i18" class="td7" src="./assets/images/18.png">
    <img id="i19" class="td7" src="./assets/images/19.png">
    <img id="i20" class="td7" src="./assets/images/20.png">
    <img id="i21" class="td7" src="./assets/images/21.png">
    <img id="i22" class="th7" src="./assets/images/22.png">
    <img id="i23" class="th7" src="./assets/images/23.png">
    <img id="i24" class="th7" src="./assets/images/24.png">
    <img id="i25" class="th7" src="./assets/images/25.png">
    <img id="i26" class="th7" src="./assets/images/26.png">
    <img id="i27" class="th7" src="./assets/images/27.png">
    <img id="i28" class="th7" src="./assets/images/28.png">
    <img id="i29" class="ff7" src="./assets/images/29.png">
    <img id="i30" class="ff7" src="./assets/images/30.png">
    <img id="i31" class="ff7" src="./assets/images/31.png">
    <img id="i32" class="ff7" src="./assets/images/32.png">
    <img id="i33" class="ff7" src="./assets/images/33.png">
    <img id="i34" class="ff7" src="./assets/images/34.png">
    <img id="i35" class="ff7" src="./assets/images/35.png">
    <p id="n06" class="n1">10.000</p>
    <p id="n07" class="n1">7.500</p>
    <p id="n08" class="n2">5.000</p>
    <p id="n09" class="n2">2.500</p>
    <p id="n10" class="n2">1.000</p>
    <p id="n11" class="n2">500</p>
    <p id="n12" class="n2">300</p>
    <p id="n13" class="n2">200</p>
    <p id="n14" class="n2">150</p>
    <p id="n15" class="n3">100</p>
    <p id="n16" class="n3">90</p>
    <p id="n17" class="n3">80</p>
    <p id="n18" class="n3">70</p>
    <p id="n19" class="n3">60</p>
    <p id="n20" class="n3">50</p>
    <p id="n21" class="n3">40</p>
    <p id="n22" class="n4">30</p>
    <p id="n23" class="n4">25</p>
    <p id="n24" class="n4">20</p>
    <p id="n25" class="n4">15</p>
    <p id="n26" class="n4">10</p>
    <p id="n27" class="n4">9</p>
    <p id="n28" class="n4">8</p>
    <p id="n29" class="n5">7</p>
    <p id="n30" class="n5">6</p>
    <p id="n31" class="n5">5</p>
    <p id="n32" class="n5">4</p>
    <p id="n33" class="n5">3</p>
    <p id="n34" class="n5">2</p>
    <p id="n35" class="n5">1</p>
</div>
<div class="Min" *ngIf="twoMin">
    <div class="leftBlock">2</div>
    <div class="minRow1">{{messages[36]}}</div>
    <div class="minRow2">{{messages[37]}}</div>
    <div class="minRow3">{{messages[38]}}</div>
</div>
<div class="messages" *ngIf="thirdMessages">
    <div class="middleColumn" id="thirdMessageRow1">{{messages[9]}}</div>
    <div class="middleColumn" id="thirdMessageRow2">{{messages[10]}}</div>
    <div class="middleColumn" id="thirdMessageRow3">{{messages[11]}}</div>
    <div class="middleColumn" id="thirdMessageRow4">{{messages[12]}}</div>
</div>
<div class="messages" *ngIf="fourthMessages">
    <div class="middleColumn" id="fourthMessageRow1">{{messages[13]}}</div>
    <div class="middleColumn" id="fourthMessageRow2">{{messages[14]}}</div>
    <div class="middleColumn" id="fourthMessageRow3">{{messages[15]}}</div>
    <div class="middleColumn" id="fourthMessageRow4">{{messages[16]}}</div>
</div>
<div class="messages" *ngIf="fivethMessages">
    <div class="middleColumn" id="fivethMessageRow1">{{messages[17]}}</div>
    <div class="middleColumn" id="fivethMessageRow2">{{messages[18]}}</div>
    <div class="middleColumn" id="fivethMessageRow3">{{messages[19]}}</div>
    <div class="middleColumn" id="fivethMessageRow4">{{messages[20]}}</div>
</div>
<div class="messages" *ngIf="sixthMessages">
    <div class="middleColumn" id="sixthMessageRow1">{{messages[21]}}</div>
    <div class="middleColumn" id="sixthMessageRow2">{{messages[22]}}</div>
    <div class="middleColumn" id="sixthMessageRow3">{{messages[23]}}</div>
    <div class="middleColumn" id="sixthMessageRow4">{{messages[24]}}</div>
</div>
<div class="messages" *ngIf="seventhMessages">
    <div class="middleColumn" id="seventhMessageRow1">{{messages[25]}}</div>
    <div class="middleColumn" id="seventhMessageRow2">{{messages[26]}}</div>
    <div class="middleColumn" id="seventhMessageRow3">{{messages[27]}}</div>
    <div class="middleColumn" id="seventhMessageRow4">{{messages[28]}}</div>
    <div class="middleColumn" id="seventhMessageRow5">{{messages[29]}}</div>
    <div class="middleColumn" id="seventhMessageRow6">{{messages[30]}}</div>
</div>
<div class="messages" *ngIf="eighthMessages">
    <div class="middleColumn" id="eighthMessagesRow1">{{messages[31]}}</div>
    <div class="middleColumn" id="eighthMessagesRow2">{{messages[32]}}</div>
    <div class="middleColumn" id="eighthMessagesRow3">{{messages[33]}}</div>
    <div class="middleColumn" id="eighthMessagesRow4">{{messages[34]}}</div>
    <div class="middleColumn" id="eighthMessagesRow5">{{messages[35]}}</div>
</div>
<div class="Min" *ngIf="oneMin">
    <div class="leftBlock">1</div>
    <div class="minRow1">{{messages[36]}}</div>
    <div class="minRow2">{{messages[37]}}</div>
    <div class="minRow3">{{messages[38]}}</div>
</div>
<div id="Sec" *ngIf="halfMin">
    <div id="secleftBlock">30</div>
    <div id="secRow1">{{messages[39]}}</div>
    <div id="secRow2">{{messages[37]}}</div>
    <div id="secRow3">{{messages[38]}}</div>
</div>
<div class="messages" *ngIf="clock">
    <div id="clock-title"></div>
    <div id="clock">{{secToDraw}}</div>
</div>
<div id="last" *ngIf="last">
    <div id="lastRow1">{{messages[40]}}</div>
    <div id="lastRow2">{{messages[41]}}</div>
    <div id="lastRow3">{{messages[42]}}</div>
    <div id="lastLeftBlock">{{messages[43]}}</div>
</div>