@import url('https://fonts.googleapis.com/css?family=Anton');
/* @import url("https://fonts.googleapis.com/css?family=Teko:600");
@import url('https://fonts.googleapis.com/css?family=Oswald:700'); */
*  {
    box-sizing: border-box;
}
:host {
    background-image: radial-gradient(farthest-corner, rgba(221,115,44,1) 0, rgba(66,11,1,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    overflow: hidden;
}
.row3col {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.55fr;
    height: 6vw;
    margin: 0 5%;
}
.row3col > div > p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#quotedesc, #event {
    font-size: 1.7vw;
}
#event {
    text-align: center;
}
.st7 {
    position: absolute;
    height: 4.5vw;
    width: 4.5vw;
    left: 10vw;
}
.nd7 {
    position: absolute;
    height: 4.5vw;
    width: 4.5vw;
    left: 28vw;
}
.td7 {
    position: absolute;
    height: 4.5vw;
    width: 4.5vw;
    left: 46vw;
}
.th7 {
    position: absolute;
    height: 4.5vw;
    width: 4.5vw;
    left: 64vw;
}
.ff7 {
    position: absolute;
    height: 4.5vw;
    width: 4.5vw;
    left: 82vw;
}
#field1 {
    position: absolute;
    top: 36.5vw;
    left: 9.5vw;
    width: 16vw;
    height: 12vw;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
#field2 {
    position: absolute;
    top: 6.5vw;
    left: 27.5vw;
    width: 16vw;
    height: 42vw;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
#field3 {
    position: absolute;
    top: 6.5vw;
    left: 45.5vw;
    width: 16vw;
    height: 42vw;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
#field4 {
    position: absolute;
    top: 6.5vw;
    left: 63.5vw;
    width: 16vw;
    height: 42vw;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
#field5 {
    position: absolute;
    top: 6.5vw;
    left: 81.5vw;
    width: 16vw;
    height: 42vw;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
#images {
    overflow: hidden;
}
#i01, #i08, #i15, #i22, #i29 {
    top: 7vw;
}
#i02, #i09, #i16, #i23, #i30 {
    top: 13vw;
}
#i03, #i10, #i17, #i24, #i31 {
    top: 19vw;
}
#i04, #i11, #i18, #i25, #i32 {
    top: 25vw;
}
#i05, #i12, #i19, #i26, #i33 {
    top: 31vw;
}
#i06, #i13, #i20, #i27, #i34 {
    top: 37vw;
}
#i07, #i14, #i21, #i28, #i35 {
    top: 43vw;
}
.n1 {
    position: absolute;
    left: 15vw;
    font-size: 2vw;
}
.n2 {
    position: absolute;
    left: 33vw;
    font-size: 2vw;
}
.n3 {
    position: absolute;
    left: 51vw;
    font-size: 2vw;
}
.n4 {
    position: absolute;
    left: 69vw;
    font-size: 2vw;
}
.n5 {
    position: absolute;
    left: 87vw;
    font-size: 2vw;
}
#n08, #n15, #n22, #n29 {
    top: 6vw;
}
#n09, #n16, #n23, #n30 {
    top: 12vw;
}
#n10, #n17, #n24, #n31 {
    top: 18vw;
}
#n11, #n18, #n25, #n32 {
    top: 24vw;
}
#n12, #n19, #n26, #n33 {
    top: 30vw;
}
#n06, #n13, #n20, #n27, #n34 {
    top: 36vw;
}
#n07, #n14, #n21, #n28, #n35 {
    top: 42vw;
}
.messages, .messagesZ {
    display: grid;
    grid-template-columns: 2fr 10fr 1.55fr;
    font-family: 'Anton', sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.messagesZ {
    position: fixed;
    top: 6vw;
    left: 0;
    z-index: 1;
    height: calc(100% - 9vw);
}
.middleColumn {
    grid-column: 2;
    text-align: center;
}
#firstMessageRow1 {
    font-size: 3vw;
}
#firstMessageRow2 {
    font-size: 3vw;
}
#firstMessageRow3 {
    font-size: 9vw;
}
#firstMessageRow4 {
    font-size: 9vw;
}
#firstMessageRow5 {
    font-size: 3vw;
}
#secondMessageRow1 {
    font-size: 4vw;
}
#secondMessageRow2 {
    font-size: 4vw;
}
#secondMessageRow3 {
    font-size: 7vw;
}
#secondMessageRow4 {
    font-size: 11vw;
}

.minute {
    display: grid;
    grid-template-rows: 2.5fr 2fr 1fr;
    grid-template-columns: 1.5fr 3fr;
    width: 33vw;
    height: 20vw;
    position: fixed;
    top: 30%;
    left: 37%;
    z-index: 2;
    overflow: hidden;
    border: 0.2vw solid rgba(255,255,255,1);
    border-radius: 10% 10% 10% 10% / 15% 15% 15% 15%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    background-image: radial-gradient(ellipse at right bottom, rgba(214,132,51,1) 0, rgba(242,67,39,1) 50%, rgba(125,44,37,1) 100%);
    text-shadow: 0.2vw 0.2vw 0.1vw rgba(0,0,0,0.5);
    transform: rotateZ(335deg);
}
.leftBlock {
    grid-row: 1 / span 3;
    align-self: center;
    justify-self: center;
    font-size: 15vw;
}
.minRow1 {
    font-size: 6vw;
}
.minRow2 {
    font-size: 5vw;
}
.minRow3 {
    font-size: 2vw;
}
#thirdMessageRow1 {
    margin-top: 2vw;
    font-size: 4vw;
    text-align: right;
    width: 90%;
}
#thirdMessageRow2 {
    font-size: 7vw;
    text-align: right;
    width: 90%;    
}
#thirdMessageRow3 {
    margin-top: 3.5vw;
    font-size: 4vw;
    width: 90%;
}
#thirdMessageRow4 {
    font-size: 6.5vw;
    text-align: right;
    width: 90%;
}
#fourthMessageRow1 {
    margin-top: 2vw;
    font-size: 7.5vw;
    line-height: 7.5vw;
}
#fourthMessageRow2 {
    vertical-align: super;
    line-height: 3vw;
    font-size: 3vw;
    text-align: right;
    width: 30%;
    position: relative;
    top: 1.5vw;
    right: 1vw;
}
#fourthMessageRow3 {
    font-size: 5vw;
    text-align: left;
    width: 60%;
}
#fourthMessageRow4 {
    margin-top: 2.5vw;
    font-size: 3.5vw;
}
#fourthMessageRow5 {
    font-size: 5vw;
}
#fivethMessageRow1 {
    font-size: 7vw;
    line-height: 7vw;
    margin-top: 4vw;
    width: 80%;
}
#fivethMessageRow2 {
    text-align: right;
    font-size: 4vw;
    width: 90%;
}
#fivethMessageRow3 {
    font-size: 4vw;
    margin-top: 3vw;
}
#fivethMessageRow4 {
    font-size: 12vw;
    line-height: 12vw;
}
#sixthMessageRow1 {
    margin-top: 4vw;
    font-size: 6vw;
    text-align: right;
    width: 55%;
}
#sixthMessageRow2 {
    font-size: 6vw;
    text-align: right;
    width: 65%;
}
#sixthMessageRow3 {
    font-size: 4vw;
    text-align: right;
    width: 45%;
}
#sixthMessageRow4 {
    font-size: 6vw;
}
#seventhMessageRow1 {
    font-size: 4vw;
    margin-top: 2vw;
}
#seventhMessageRow2 {
    font-size: 2.5vw;
    margin-top: 2vw;
}
#seventhMessageRow3 {
    font-size: 4vw;
}
#seventhMessageRow4 {
    font-size: 2vw;
    margin-top: 2vw;
}
#seventhMessageRow5 {
    font-size: 4vw;
}
#seventhMessageRow6 {
    font-size: 6vw;
}
#eighthMessagesRow1 {
    align-self: end;
    margin-bottom: 2vw;
    font-size: 4vw;
}
#eighthMessagesRow2 {
    font-size: 3vw;
}
#eighthMessagesRow3 {
    font-size: 3vw;
}
#eighthMessagesRow4 {
    font-size: 3vw;
}
#eighthMessagesRow5 {
    font-size: 3vw;
}
#second {
    display: grid;
    grid-template-rows: 1.8fr 2fr 1fr;
    grid-template-columns: 1.5fr 3fr;
    width: 35vw;
    height: 20vw;
    position: fixed;
    top: 30%;
    left: 37%;
    z-index: 2;
    overflow: hidden;
    border: 0.2vw solid rgba(255,255,255,1);
    border-radius: 10% 10% 10% 10% / 15% 15% 15% 15%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    background-image: radial-gradient(ellipse at right bottom, rgba(214,132,51,1) 0, rgba(242,67,39,1) 50%, rgba(125,44,37,1) 100%);
    text-shadow: 0.2vw 0.2vw 0.1vw rgba(0,0,0,0.5);
    transform: rotateZ(335deg);
}
#secleftBlock {
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
    font-size: 15vw;
}
#secRow1 {
    grid-row: 1;
    grid-column: 2;
    font-size: 4vw;
}
#secRow2 {
    grid-row: 2;
    grid-column: 2;
    font-size: 5vw;
}
#secRow3 {
    grid-row: 3;
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: center;
    font-size: 2vw;
}
#clock-title {
    background-image: url(../../assets/images/machine_title.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    grid-column: 2;
    height: 8vw;
    margin-bottom: -3.5vw;
    margin-top: 6vw;
    z-index: 1;
}
#clock {
    align-self: center;
    justify-self: center;
    background-image: url(../../assets/images/clock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 2;
    font-size: 15vw;
    line-height: 25vw;
    text-align: center;
    height: 25vw;
    width: 25vw;
}
#last {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 5fr;
    width: 20vw;
    height: 20vw;
    position: fixed;
    top: 27%;
    left: 42%;
    z-index: 2;
    overflow: hidden;
    border: 0.2vw solid rgba(255,255,255,1);
    border-radius: 10% 10% 10% 10% / 15% 15% 15% 15%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    background-image: radial-gradient(ellipse at right bottom, rgba(214,132,51,1) 0, rgba(242,67,39,1) 50%, rgba(125,44,37,1) 100%);
    text-shadow: 0.2vw 0.2vw 0.1vw rgba(0,0,0,0.5);
    transform: rotateZ(335deg);
}
#lastRow1 {
    grid-column: 1 / span 2;
    font-size: 4vw;
}
#lastRow2, #lastRow3 {
    grid-column: 2;
    font-size: 4vw;
}
#lastLeftBlock {
    grid-row: 2 / span 2;
    grid-column: 1;
    font-size: 2vw;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 0.5vw;
}