<div class="row3col">
    <div id="quotedesc">
        <p>Cotele BeSix pentru fiecare numar extras</p>
    </div>
    <div id="event">
        <p>Numaru evenimentului: {{roundNr}}</p>
    </div>
</div>
<div class="containter" [@fadeIn]="drawQue?.length">
    <div id="draw">
        <img src="./assets/draw/{{ball}}/{{ball}}_000{{drawFrame}}.png">
        <img id="imgEx" src="./assets/explode/{{ball}}/{{ball}}_000{{explFrame}}.png">
    </div>
    <div id="ball01">
        <img class="ball" src="./assets/images/{{drawQue[0]}}.png">
    </div>
    <div id="ball02">
        <img class="ball" src="./assets/images/{{drawQue[1]}}.png">
    </div>
    <div id="ball03">
        <img class="ball" src="./assets/images/{{drawQue[2]}}.png">
    </div>
    <div id="ball04">
        <img class="ball" src="./assets/images/{{drawQue[3]}}.png">
    </div>
    <div id="ball05">
        <img class="ball" src="./assets/images/{{drawQue[4]}}.png">
    </div>
    <div id="ball06" class="field">
        <div class="content">10.000</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[5]}}.png"></div>
    </div>
    <div id="ball07" class="field">
        <div class="content">7.500</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[6]}}.png"></div>
    </div>
    <div id="ball08" class="field">
        <div class="content">5.000</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[7]}}.png"></div>
    </div>
    <div id="ball09" class="field">
        <div class="content">2.500</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[8]}}.png"></div>
    </div>
    <div id="ball10" class="field">
        <div class="content">1.000</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[9]}}.png"></div>
    </div>
    <div id="ball11" class="field">
        <div class="content">500</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[10]}}.png"></div>
    </div>
    <div id="ball12" class="field">
        <div class="content">300</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[11]}}.png"></div>
    </div>
    <div id="ball13" class="field">
        <div class="content">200</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[12]}}.png"></div>
    </div>
    <div id="ball14" class="field">
        <div class="content">150</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[13]}}.png"></div>
    </div>
    <div id="ball15" class="field">
        <div class="content">100</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[14]}}.png"></div>
    </div>
    <div id="ball16" class="field">
        <div class="content">90</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[15]}}.png"></div>
    </div>
    <div id="ball17" class="field">
        <div class="content">80</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[16]}}.png"></div>
    </div>
    <div id="ball18" class="field">
        <div class="content">70</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[17]}}.png"></div>
    </div>
    <div id="ball19" class="field">
        <div class="content">60</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[18]}}.png"></div>
    </div>
    <div id="ball20" class="field">
        <div class="content">50</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[19]}}.png"></div>
    </div>
    <div id="ball21" class="field">
        <div class="content">40</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[20]}}.png"></div>
    </div>
    <div id="ball22" class="field">
        <div class="content">30</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[21]}}.png"></div>
    </div>
    <div id="ball23" class="field">
        <div class="content">25</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[22]}}.png"></div>
    </div>
    <div id="ball24" class="field">
        <div class="content">20</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[23]}}.png"></div>
    </div>
    <div id="ball25" class="field">
        <div class="content">15</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[24]}}.png"></div>
    </div>
    <div id="ball26" class="field">
        <div class="content">10</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[25]}}.png"></div>
    </div>
    <div id="ball27" class="field">
        <div class="content">9</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[26]}}.png"></div>
    </div>
    <div id="ball28" class="field">
        <div class="content">8</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[27]}}.png"></div>
    </div>
    <div id="ball29" class="field">
        <div class="content">7</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[28]}}.png"></div>
    </div>
    <div id="ball30" class="field">
        <div class="content">6</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[29]}}.png"></div>
    </div>
    <div id="ball31" class="field">
        <div class="content">5</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[30]}}.png"></div>
    </div>
    <div id="ball32" class="field">
        <div class="content">4</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[31]}}.png"></div>
    </div>
    <div id="ball33" class="field">
        <div class="content">3</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[32]}}.png"></div>
    </div>
    <div id="ball34" class="field">
        <div class="content">2</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[33]}}.png"></div>
    </div>
    <div id="ball35" class="field">
        <div class="content">1</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[34]}}.png"></div>
    </div>
</div>