<div class="row3col">
    <div id="quotedesc">
        <p>{{messages[46]}}</p>
    </div>
    <div id="event">
        <p>{{messages[47]}}: {{roundNr}}</p>
    </div>
</div>
<div class="containter">
    <div id="draw">
        <img id="imgDw" src="./assets/{{drawExpl}}/{{ballDraw}}/{{ballDraw}}_000{{drawFrame}}.png">
        <img id="imgEx" src="./assets/explode/{{ballExpl}}/{{ballExpl}}_000{{explFrame}}.png">
    </div>
    <div id="ball01">
        <img class="ball" src="./assets/images/{{drawQue[0]}}.png" [@fadeIn]="fadeInStat[0]">
    </div>
    <div id="ball02">
        <img class="ball" src="./assets/images/{{drawQue[1]}}.png" [@fadeIn]="fadeInStat[1]">
    </div>
    <div id="ball03">
        <img class="ball" src="./assets/images/{{drawQue[2]}}.png" [@fadeIn]="fadeInStat[2]">
    </div>
    <div id="ball04">
        <img class="ball" src="./assets/images/{{drawQue[3]}}.png" [@fadeIn]="fadeInStat[3]">
    </div>
    <div id="ball05">
        <img class="ball" src="./assets/images/{{drawQue[4]}}.png" [@fadeIn]="fadeInStat[4]">
    </div>
    <div id="ball06" class="field">
        <div class="content">10.000</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[5]}}.png" [@fadeIn]="fadeInStat[5]"></div>
    </div>
    <div id="ball07" class="field">
        <div class="content">7.500</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[6]}}.png" [@fadeIn]="fadeInStat[6]"></div>
    </div>
    <div id="ball08" class="field">
        <div class="content">5.000</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[7]}}.png" [@fadeIn]="fadeInStat[7]"></div>
    </div>
    <div id="ball09" class="field">
        <div class="content">2.500</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[8]}}.png" [@fadeIn]="fadeInStat[8]"></div>
    </div>
    <div id="ball10" class="field">
        <div class="content">1.000</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[9]}}.png" [@fadeIn]="fadeInStat[9]"></div>
    </div>
    <div id="ball11" class="field">
        <div class="content">500</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[10]}}.png" [@fadeIn]="fadeInStat[10]"></div>
    </div>
    <div id="ball12" class="field">
        <div class="content">300</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[11]}}.png" [@fadeIn]="fadeInStat[11]"></div>
    </div>
    <div id="ball13" class="field">
        <div class="content">200</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[12]}}.png" [@fadeIn]="fadeInStat[12]"></div>
    </div>
    <div id="ball14" class="field">
        <div class="content">150</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[13]}}.png" [@fadeIn]="fadeInStat[13]"></div>
    </div>
    <div id="ball15" class="field">
        <div class="content">100</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[14]}}.png" [@fadeIn]="fadeInStat[14]"></div>
    </div>
    <div id="ball16" class="field">
        <div class="content">90</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[15]}}.png" [@fadeIn]="fadeInStat[15]"></div>
    </div>
    <div id="ball17" class="field">
        <div class="content">80</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[16]}}.png" [@fadeIn]="fadeInStat[16]"></div>
    </div>
    <div id="ball18" class="field">
        <div class="content">70</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[17]}}.png" [@fadeIn]="fadeInStat[17]"></div>
    </div>
    <div id="ball19" class="field">
        <div class="content">60</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[18]}}.png" [@fadeIn]="fadeInStat[18]"></div>
    </div>
    <div id="ball20" class="field">
        <div class="content">50</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[19]}}.png" [@fadeIn]="fadeInStat[19]"></div>
    </div>
    <div id="ball21" class="field">
        <div class="content">40</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[20]}}.png" [@fadeIn]="fadeInStat[20]"></div>
    </div>
    <div id="ball22" class="field">
        <div class="content">30</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[21]}}.png" [@fadeIn]="fadeInStat[21]"></div>
    </div>
    <div id="ball23" class="field">
        <div class="content">25</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[22]}}.png" [@fadeIn]="fadeInStat[22]"></div>
    </div>
    <div id="ball24" class="field">
        <div class="content">20</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[23]}}.png" [@fadeIn]="fadeInStat[23]"></div>
    </div>
    <div id="ball25" class="field">
        <div class="content">15</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[24]}}.png" [@fadeIn]="fadeInStat[24]"></div>
    </div>
    <div id="ball26" class="field">
        <div class="content">10</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[25]}}.png" [@fadeIn]="fadeInStat[25]"></div>
    </div>
    <div id="ball27" class="field">
        <div class="content">9</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[26]}}.png" [@fadeIn]="fadeInStat[26]"></div>
    </div>
    <div id="ball28" class="field">
        <div class="content">8</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[27]}}.png" [@fadeIn]="fadeInStat[27]"></div>
    </div>
    <div id="ball29" class="field">
        <div class="content">7</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[28]}}.png" [@fadeIn]="fadeInStat[28]"></div>
    </div>
    <div id="ball30" class="field">
        <div class="content">6</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[29]}}.png" [@fadeIn]="fadeInStat[29]"></div>
    </div>
    <div id="ball31" class="field">
        <div class="content">5</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[30]}}.png" [@fadeIn]="fadeInStat[30]"></div>
    </div>
    <div id="ball32" class="field">
        <div class="content">4</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[31]}}.png" [@fadeIn]="fadeInStat[31]"></div>
    </div>
    <div id="ball33" class="field">
        <div class="content">3</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[32]}}.png" [@fadeIn]="fadeInStat[32]"></div>
    </div>
    <div id="ball34" class="field">
        <div class="content">2</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[33]}}.png" [@fadeIn]="fadeInStat[33]"></div>
    </div>
    <div id="ball35" class="field">
        <div class="content">1</div>
        <div class="button"><img class="ball" src="./assets/images/{{drawQue[34]}}.png" [@fadeIn]="fadeInStat[34]"></div>
    </div>
</div>